<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
used:
<!--right slidebar-->
<link th:href="@{/css/slidebars.css}" rel="stylesheet">
<!--jquery-ui-->
<link th:href="@{/jquery-ui/jquery-ui-1.10.1.custom.min.css}" rel="stylesheet"/>
<!--common style-->
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/style-responsive.css}" rel="stylesheet">
<!--jquery-toastr-->
<link th:href="@{/css/toastr.min.css}" rel="stylesheet"/>
<!--sweetalert-->
<link th:href="@{/sweetalert/sweetalert.css}" rel="stylesheet">



<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<!--jquery-ui-->
<script th:src="@{/jquery-ui/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-migrate.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/modernizr.min.js}" type="text/javascript"></script>
<!--Nice Scroll-->
<script th:src="@{/js/jquery.nicescroll.js}" type="text/javascript"></script>
<!--right slidebar-->
<script th:src="@{/js/slidebars.min.js}" type="text/javascript"></script>
<!--common scripts for all pages-->
<script th:src="@{/js/scripts.js}" type="text/javascript"></script>
<!--[if lt IE 9]>
<script th:src="@{/js/html5shiv.min.js}"></script>
<script th:src="@{/js/respond.min.js}"></script>
<![endif]-->

===================================================================
all:
<!--easy pie chart-->
<link th:href="@{/js/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen"/>
<!--vector maps -->
<link rel="stylesheet" th:href="@{/js/vector-map/jquery-jvectormap-1.1.1.css}">
<!--right slidebar-->
<link th:href="@{/css/slidebars.css}" rel="stylesheet">
<!--switchery-->
<link th:href="@{/js/switchery/switchery.min.css}" rel="stylesheet" type="text/css" media="screen"/>
<!--jquery-ui-->
<link th:href="@{/js/jquery-ui/jquery-ui-1.10.1.custom.min.css}" rel="stylesheet"/>
<!--iCheck-->
<link th:href="@{/js/icheck/skins/all.css}" rel="stylesheet">
<!-- 轮滑快 -->
<link th:href="@{/css/owl.carousel.css}" rel="stylesheet">
<!--common style-->
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/style-responsive.css}" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->




<!--[if lt IE 9]>
<script th:src="@{/js/html5shiv.min.js}"></script>
<script th:src="@{/js/respond.min.js}"></script>
<![endif]-->

<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<!--jquery-ui-->
<script th:src="@{/js/jquery-ui/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-migrate.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/modernizr.min.js}" type="text/javascript"></script>
<!--right slidebar-->
<script th:src="@{/js/slidebars.min.js}" type="text/javascript"></script>
<!--switchery-->
<script th:src="@{/js/switchery/switchery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/switchery/switchery-init.js}" type="text/javascript"></script>
<!--flot chart -->
<script th:src="@{/js/flot-chart/jquery.flot.js}" type="text/javascript"></script>
<script th:src="@{/js/flot-chart/flot-spline.js}" type="text/javascript"></script>
<script th:src="@{/js/flot-chart/jquery.flot.resize.js}" type="text/javascript"></script>
<script th:src="@{/js/flot-chart/jquery.flot.tooltip.min.js}" type="text/javascript"></script>
<script th:src="@{/js/flot-chart/jquery.flot.pie.js}" type="text/javascript"></script>
<script th:src="@{/js/flot-chart/jquery.flot.selection.js}" type="text/javascript"></script>
<script th:src="@{/js/flot-chart/jquery.flot.stack.js}" type="text/javascript"></script>
<script th:src="@{/js/flot-chart/jquery.flot.crosshair.js}" type="text/javascript"></script>
<!--earning chart init-->
<script th:src="@{/js/earning-chart-init.js}" type="text/javascript"></script>
<!--Sparkline Chart-->
<script th:src="@{/js/sparkline/jquery.sparkline.js}" type="text/javascript"></script>
<script th:src="@{/js/sparkline/sparkline-init.js}" type="text/javascript"></script>
<!--easy pie chart-->
<script th:src="@{/js/jquery-easy-pie-chart/jquery.easy-pie-chart.js}" type="text/javascript"></script>
<script th:src="@{/js/easy-pie-chart.js}" type="text/javascript"></script>
<!--vectormap-->
<script th:src="@{/js/vector-map/jquery-jvectormap-1.2.2.min.js}" type="text/javascript"></script>
<script th:src="@{/js/vector-map/jquery-jvectormap-world-mill-en.js}" type="text/javascript"></script>
<script th:src="@{/js/dashboard-vmap-init.js}" type="text/javascript"></script>
<!--Icheck-->
<script th:src="@{/js/icheck/skins/icheck.min.js}" type="text/javascript"></script>
<script th:src="@{/js/todo-init.js}" type="text/javascript"></script>
<!--jquery countTo-->
<script th:src="@{/js/jquery-countTo/jquery.countTo.js}" type="text/javascript"></script>
<!--owl carousel-->
<script th:src="@{/js/owl.carousel.js}" type="text/javascript"></script>
<!--common scripts for all pages-->
<script th:src="@{/js/scripts.js}" type="text/javascript"></script>


</body>
</html>