<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" th:href="@{/img/ico/favicon.png}">
    <title>STARCMS</title>
    <!--right slidebar-->
    <link th:href="@{/css/slidebars.css}" rel="stylesheet">
    <!--jquery-ui-->
    <link th:href="@{/jquery-ui/jquery-ui-1.10.1.custom.min.css}" rel="stylesheet"/>
    <!--common style-->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
    <!--jquery-toastr-->
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet"/>
    <!--taginput-->
    <link th:href="@{/css/tagsinput.css}" rel="stylesheet"/>
    <!--summernote-->
    <link th:href="@{/css/summernote.css}" rel="stylesheet"/>
    <!--tree-->
    <link th:href="@{/fuelux/css/tree-style.css}" rel="stylesheet"/>
    <!--dropzone-->
    <link th:href="@{/css/basic.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dropzone.min.css}" rel="stylesheet"/>
</head>
<body class="sticky-header">
<section>
    <!-- sidebar left start-->
    <div th:replace="backstage/include/leftmenu::leftmenu"></div>
    <!-- sidebar left end-->

    <!-- body content start-->
    <div class="body-content">
        <!-- header section start-->
        <div th:replace="backstage/include/header::topheader"></div>
        <!-- header section end-->

        <!-- page head start-->
        <div class="page-head">
            <h3 class="m-b-less">
                编辑内容
            </h3>
            <div class="state-information">
                <ol class="breadcrumb m-b-less bg-less">
                    <li><a th:href="@{/backstage/index}">首页</a></li>
                    <li><a th:href="@{/backstage/content/list}">内容管理</a></li>
                    <li class="active">编辑内容</li>
                </ol>
            </div>
        </div>
        <!-- page head end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            内容信息
                        </header>
                        <div class="panel-body">
                            <form id="contentform" class="form-horizontal tasi-form" action="/backstage/content/edit" method="post">
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">栏目<span style="color: red; ">*</span>：</label>
                                    <div class="col-sm-10">
                                        <div class="input-group m-b-8">
                                            <span class="input-group-btn">
                                                <button id="btnchoosechannel" class="btn btn-white" type="button">选择栏目</button>
                                            </span>
                                            <input type="text" id="channelTitle" name="channelTitle" readonly th:value="${channelTitle}" class="form-control" style="width: 400px;">
                                            <input type="hidden" id="channelId" name="channelId" th:value="${channelId}" >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="channelDiv" style="display: none;">
                                    <label class="col-sm-2 col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <div id="channelTree" class="tree tree-plus-minus">
                                            <div class = "tree-folder" style="display:none;">
                                                <div class="tree-folder-header">
                                                    <i class="fa fa-folder"></i>
                                                    <div class="tree-folder-name"></div>
                                                </div>
                                                <div class="tree-folder-content"></div>
                                                <div class="tree-loader" style="display:none"></div>
                                            </div>
                                            <div class="tree-item" style="display:none;">
                                                <i class="tree-dot"></i>
                                                <div class="tree-item-name"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">标题<span style="color: red; ">*</span>：</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" id="id" name="id" th:value="${content.id}">
                                        <input type="text" id="title" name="title" th:value="${content.title}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">子标题：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="shortTitle" name="shortTitle" th:value="${content.shortTitle}"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">是否推荐：</label>
                                    <div class="col-sm-10">
                                        <label class="checkbox-custom inline check-success">
                                            <input type="checkbox" name="recommend" id="recommend" value="true" th:attr="checked=${content.recommend}">
                                            <label for="recommend">推荐</label>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">设置为草稿：</label>
                                    <div class="col-sm-10">
                                        <label class="checkbox-custom inline check-success">
                                            <input type="checkbox" name="status" id="status" value="1"
                                                   th:attr="checked=${content.status} != null ? (${content.status == 1 ? true : false}) : false">
                                            <label for="status">草稿</label>
                                        </label>
                                    </div>
                                </div>
                                <!--addition start-->
                                <div class="form-group" th:if="${channelId == 1}">
                                    <label class="col-sm-2 col-sm-2 control-label">丛书名：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="seriesName" name="seriesName" th:value="${contentbook.seriesName}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group" th:if="${channelId == 1}">
                                    <label class="col-sm-2 col-sm-2 control-label">作者名：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="authorName" name="authorName" th:value="${contentbook.authorName}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group" th:if="${channelId == 1}">
                                    <label class="col-sm-2 col-sm-2 control-label">图片<span style="color: red; ">*</span>：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="cover" name="cover" th:value="${contentbook.cover}" readonly class="form-control">
                                        <div id="dropzcover" class="dropzone"></div>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${channelId == 1}">
                                    <label class="col-sm-2 col-sm-2 control-label">附件<span style="color: red; ">*</span>：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="attachments" name="attachments" th:value="${contentbook.attachments}" readonly class="form-control">
                                        <div id="dropzattachments" class="dropzone"></div>
                                    </div>
                                </div>
                                <div class="form-group" th:if="${channelId == 2 || channelId == 8 || channelId == 9}">
                                    <label class="col-sm-2 col-sm-2 control-label">时间：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="time" name="time" th:value="${contentpic.time}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group" th:if="${channelId == 2 || channelId == 8 || channelId == 9}">
                                    <label class="col-sm-2 col-sm-2 control-label">地点：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="place" name="place" th:value="${contentpic.place}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group" th:if="${channelId == 2 || channelId == 8 || channelId == 9}">
                                    <label class="col-sm-2 col-sm-2 control-label">来源：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="publisher" name="publisher" th:value="${contentpic.publisher}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group" th:if="${channelId == 2 || channelId == 8 || channelId == 9}">
                                    <label class="col-sm-2 col-sm-2 control-label">图片<span style="color: red; ">*</span>：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="pic" name="pic" th:value="${contentpic.path}" class="form-control">
                                        <div id="dropzpic" class="dropzone"></div>
                                    </div>
                                </div>
                                <!--addition end-->
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">标签：</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="tags" id="tags" th:value="${content.tags}">
                                        <div id="tagsinput"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">备注：</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" id="txt" name="txt" th:value="${content.txt}" class="form-control">
                                        <div id="txtnote"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button type="button" id="btnsubmit" class="btn btn-success">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
            <!--footer section start-->
            <footer th:replace="backstage/include/footer::footer"></footer>
            <!--footer section end-->
        </div>
        <!--body wrapper end-->
    </div>
    <!-- body content end-->
</section>
<div th:replace="backstage/include/jss"></div>
<script th:src="@{/js/jquery.validate.min.js}" type="text/javascript"></script>
<script th:src="@{/js/content-add-validation.js}" type="text/javascript"></script>
<script th:src="@{/js/toastr.min.js}" type="text/javascript"></script>
<script th:src="@{/js/tags-input.js}" type="text/javascript"></script>
<script th:src="@{/js/summernote.min.js}" type="text/javascript"></script>
<script th:src="@{/js/summernote-zh-CN.js}" type="text/javascript"></script>
<script th:src="@{/fuelux/js/tree.min.js}" type="text/javascript"></script>
<script th:src="@{/js/tree-init-channel.js}" type="text/javascript"></script>
<script th:src="@{/js/dropzone.min.js}" type="text/javascript"></script>
<script th:src="@{/js/upload-cover-edit.js}" type="text/javascript" th:if="${channelId == 1}"></script>
<script th:src="@{/js/upload-attachments-edit.js}" type="text/javascript" th:if="${channelId == 1}"></script>
<script th:src="@{/js/upload-pic-edit.js}" type="text/javascript" th:if="${channelId == 2 || channelId == 8 || channelId == 9}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // 标签输入框
        $("#tagsinput").tagsInput({
            width: 'auto',
            defaultText: '填加标签',
            onAddTag: function (tag) {
                $("#tags").val($("#tagsinput").val());
            },
            onRemoveTag: function (tag) {
                $("#tags").val($("#tagsinput").val());
            }
        });
        $("#tagsinput").importTags($("#tags").val());
        // 富文本编辑器
        $('#txtnote').summernote({
            lang: 'zh-CN',
            height: 200,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ]
        });
        $("#txtnote").code($("#txt").val());
        // 提交表单
        $("#btnsubmit").click(function () {
            $("#txt").val($('#txtnote').code());
            $("#contentform").submit();
        });
    });
</script>
<script th:inline="javascript">
    $(document).ready(function () {
        // 树形菜单-栏目
        $("#btnchoosechannel").click(function () {
            $("#channelDiv").toggle();
        });
        $("#channelTitle").click(function () {
            $("#channelDiv").toggle();
        });
        // TreeView.init();
        var DataSourceTree = function (options) {
            this._data  = options.data;
            this._delay = options.delay;
        };
        DataSourceTree.prototype = {
            data: function (options, callback) {
                var self = this;
                var $data = null
                if (!("name" in options) && !("type" in options)) {
                    $data = self._data;//the root tree
                    callback({ data: $data });
                    return;
                }
                else if ("type" in options && options.type == "folder") {
                    if ("additionalParameters" in options && "children" in options.additionalParameters)
                        $data = options.additionalParameters.children || {};
                    else $data = {}//no data
                }
                if ($data != null)//this setTimeout is only for mimicking some random delay
                    setTimeout(function () { callback({ data: $data }); }, parseInt(Math.random() * 500) + 200);
            }
        };
        // INITIALIZING TREE
        var treeDataSource = new DataSourceTree({
            data: [
                {
                    name: [[${parentChannel.title}]],
                    type: [[${#lists.size(parentChannel.childChannels) > 0 ? 'folder' : 'item'}]],
                    additionalParameters: { id: '[[${parentChannel.id}]]',
                    [# th:if="${parentChannel.childChannels.size() > 0}"]
                    children: [
                        [# th:each="childChannel : ${parentChannel.childChannels}"]
                            { name: [[${childChannel.title}]], type: 'item', additionalParameters: { id: '[[${childChannel.id}]]' } },
                        [/]
                    ],
                    [/]
                    },
                },
            ],
            delay: 200
        });
        $('#channelTree').tree({
            dataSource: treeDataSource,
            loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
            folderSelect: true
        }).on('selected.fu.tree', function(e) {
            $("#channelId").val($('#channelTree').tree('selectedItems')[0].additionalParameters.id);
            $("#channelTitle").val($('#channelTree').tree('selectedItems')[0].name);
            $("#channelDiv").hide();
        }).on('closed.fu.tree', function(e) { // 只有一级菜单
            $("#channelId").val(treeDataSource._data[0].additionalParameters.id);
            $("#channelTitle").val(treeDataSource._data[0].name);
            $("#channelDiv").hide();
        });
    });
</script>
<script type="text/javascript" th:if="${contentinfo} != null">
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr.warning("[[${contentinfo}]]", "提示");
    });
</script>
</body>
</html>
