<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
<!--jquery-ui-->
<script th:src="@{/jquery-ui/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery-migrate.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/modernizr.min.js}" type="text/javascript"></script>
<!--Nice Scroll-->
<script th:src="@{/js/jquery.nicescroll.js}" type="text/javascript"></script>
<!--right slidebar-->
<script th:src="@{/js/slidebars.min.js}" type="text/javascript"></script>
<!--common scripts for all pages-->
<script th:src="@{/js/scripts.js}" type="text/javascript"></script>
<!--[if lt IE 9]>
<script th:src="@{/js/html5shiv.min.js}"></script>
<script th:src="@{/js/respond.min.js}"></script>
<![endif]-->